.banner {
  border: 5px solid red;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.banner img {
  width: 100%;
  max-width: 1600px;
  height: auto;
  display: block;
  border-radius: 15px;
}

/* Mobile */
@media (max-width: 768px) {
  .banner img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
  }
}