.hero {
  width: 100%;
  background: #ffffff;
  padding-top: 70px;
  display: flex;
  justify-content: center;
}

.hero-image {
  width: 70%;
  max-width: 1000px;
  height: auto;
  display: block;
  border-radius: 15px;
}

/* Mobile View */
@media (max-width: 768px) {
  .hero {
    padding-top: 20px;
  }

  .hero-image {
    width: 100%;
    max-width: none;
    border-radius: 10px;
  }
}